<div class="container">
        <div class="row mt-5">
            {{#each productos}}
                {{> producto 
                {{!-- aca va el nombre del producto y harta información relacionada con cada producto --}}
                data = "{{this}}"
                }}
            {{/each}}
        </div>
</div>