<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Verduleria</a>
      <button type="button" class="btn" id="carroCompra" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: white; border-color:white;">
          
        <i class="fa-solid fa-cart-shopping fa-lg "></i>
      </button>
      
      {{> Modal}}
    </div>
  </div>
</nav>